.goodnessseccont img {
    width: 100%;

}

.dish{
    color: #636363;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 15px;
    width: 50%;
    margin:0 auto;
    text-align: center;
}

.goodnesssec a{
    text-decoration: none;
}

.burgerbg{
    background-color: #ffff;
    background-image: linear-gradient(#fff7ef, #fff);
    background-image: -webkit-linear-gradient(#fff7ef, #fff);
    background-image: -moz-linear-gradient(#fff7ef, #fff);
    background-image: -ms-linear-gradient(#fff7ef, #fff);
    background-image: -o-linear-gradient(#fff7ef, #fff);
    padding: 50px 40px;
    border: 1px solid #efe8e1;
    padding-bottom: 20px;
}

.pizzabg{
    background-color: #ffff;
    background-image: linear-gradient(#fff7ef, #fff);
    background-image: -webkit-linear-gradient(#fff7ef, #fff);
    background-image: -moz-linear-gradient(#fff7ef, #fff);
    background-image: -ms-linear-gradient(#fff7ef, #fff);
    background-image: -o-linear-gradient(#fff7ef, #fff);
    padding: 50px 40px;
    border: 1px solid #efe8e1;
    padding-bottom: 20px;
}

.takkosbg{
    background-color: #ffff;
    background-image: linear-gradient(#fff7ef, #fff);
    background-image: -webkit-linear-gradient(#fff7ef, #fff);
    background-image: -moz-linear-gradient(#fff7ef, #fff);
    background-image: -ms-linear-gradient(#fff7ef, #fff);
    background-image: -o-linear-gradient(#fff7ef, #fff);
    padding: 50px 40px;
    border: 1px solid #efe8e1;
    padding-bottom: 20px;
}